* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}
body {
  font-family: 'Nunito',Arial, sans-serif;
  min-height: 100vh;
  background-color: $beige;
  color: $text;
  margin: 0;
}
.container {
  @include flex-row();
  padding: 0 $base;
  max-width: 1420px;
  margin: 0 auto;
}
//////////////////////////////////////////
// Lists
//////////////////////////////////////////
ul {
  padding: 0;
  list-style: none;
}

//////////////////////////////////////////
// Forms
//////////////////////////////////////////
.text_input {
  width: 100%;
  height: 40px;
  padding: $base 0 $base/3 0;
  font-size: 18px;
  outline: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
