$base: 15px;


//////////////////////////////////////////
// COLORS
//////////////////////////////////////////
$light-grey: rgb(246,246,246);
$medium-grey: rgb(150,150,150);
$beige: rgb(240,239,233);
$text: rgb(65,65,65);
$green: darken(rgb(80,227,163), 10%);
$red: rgb(239, 72, 54);
